:root {
    --color1: #3a4652;
    --color2: #1e2931;
}

.main-space {
    background: radial-gradient(ellipse at center,  var(--color1) 0%,var(--color2) 99%);
    background-size: contain;
}

.k-card {
    width: 250px;
    height: 300px;
}

/*Navbar*/
.k-circle {
    color: var(--bs-white);
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.k-btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
    border: 3px solid #45586CFF;
    width: 50px;
    height: 50px;
    color: #45586CFF;
    transition: all 0.5ms ease;
}

.k-btn-search:hover {
    border: 3px solid var(--color1);
    color: var(--color1);
}

/*Color*/
.color1 {
    background-color: var(--color1);
}
.color2 {
    background-color: var(--color2);
}