:root {
    --color1: #3a4652;
    --color2: #1e2931;
    --color3: #79838c;
}

header {
    height: 108px;
}

body {
    background: radial-gradient(ellipse at center,  var(--color1) 0%,var(--color2) 99%);
}

/*footer*/
.footer {
    background-color: #212529;
    color: var(--color3);
}

.footer a {
    color: var(--color3);
    font-size: 20px;
}

.line-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 1px;
    background-color: var(--color3);
}


/*mainspace*/
.main-space {
    display: flex;
    margin-left: 300px;
    background-size: contain;
    transition: 500ms ease;
}

.main-space-hidden {
    margin-left: 0;
}

.k-card {
    width: 250px;
    height: 350px;
    box-shadow: 0 10px 20px;
}

.k-text {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 45px;
    transform: translateY(25px);
}

@media (min-width: 768px) {
    .carousel-inner {
        display: flex;
    }
    .carousel-item {
        margin-right: 0;
        flex: 0 0 25%;
        display: block;
    }
}

.carousel-inner{
    padding: 1em;
}

.carousel-control-prev, .carousel-control-next{
    background-color: var(--color3);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon {
    margin-left: -3px
}

.carousel-control-next-icon {
    margin-left: 3px
}

/*offcanvas*/
.k-offcanvas-size {
    width: 100px;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 1px;
    background-color: var(--color3);
}

.k-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin-top: 247.5px;
    margin-left: 240px;
    font-size: 18px;
}

.k-badge-color {
    background-color: #d9404d;
}
.k-badge-green {
    background-color: seagreen;
}

/*Sidebar*/
.k-sidebar {
    width: 300px;
    height: 100vh;
    margin-top: 100px;
    transform: translatex(0);
    transition: 500ms ease;
}

.k-sidebar-hidden {
    transform: translatex(-100%);
}

/*Navbar*/
.k-navbar {
    height: 108px;
}

.k-collapse {
    margin-left: 230px;
}

.k-menu {
    display: flex;
    font-size: 20px;
}

.k-circle {
    color: var(--color3);
    width: 50px;
    height: 50px;
    border: 3px solid var(--color3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*Search*/
.k-search-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.k-btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 25px;
    border-radius: 50%;
    outline: none;
    width: 50px;
    height: 50px;
    color: var(--color3);
    /*border: 3px solid #79838c;*/
    background-color: var(--color1);
    transition: all 0.3s ease;
}

.k-search {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px;
    border: none;
    padding-left: 20px;
    outline: none;
    font-size: 15px;
    transition: all 0.3s ease;
    margin: 5px;
}
#k-check-search {
    display: none;
}

#k-check-search:checked ~ .k-search-box {
    width: 300px;
    height: 50px;
}

/*#check:checked ~ .k-search {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#check:checked ~ .k-btn-search {*/
/*    border-radius: 0 25px 25px 0;*/
/*    color: white;*/
/*    background-color: var(--color1);*/
/*    border: none;*/
/*}*/

/*Color*/
.color1 {
    background-color: var(--color1);
}
.color2 {
    background-color: var(--color2);
}
.color3 {
    background-color: var(--color3);
}

.color-text1 {
    color: var(--color1);
}
.color-text2 {
    color: var(--color2);
}
.color-text3 {
    color: var(--color3);
}